# Buổi 8: Đọc là lọc dữ liệu

In [3]:
import pandas as pd

# thay đổi chỉ số với index
fruits = pd.Series(["apple", 'banana','orange'], index = ['A', 'B', 'C']) 

print(fruits)

A     apple
B    banana
C    orange
dtype: object

In [ ]:
## Khởi tạo Series từ 1 Dict

fruits_dict = {
    'A': 'apple',
    'B': 'banana',
    'C': 'orange',
}

# Tạo 1 Series từ 1 DICT
fruits = pd.Series(fruits_dict)
fruits

orange

### Bài tập thực hành Series: Bài 1

In [6]:
# khởi tạo bảng như yêu cầu
Students_weight = {
    'Hoa': 37,
    'Nam': 48,
    'Hải': 42,
    'Linh': 39,
    'Nhân': 41,
    'Bảo': 100,
}

# Tạo 1 S từ Dict
weights = pd.Series(Students_weight)
print(weights.mean()) # Trung bình cộng
print(weights.median()) # Sắp xếp danh sách và tìm phần tử ở giữa
print(weights.mode()) # lệnh này trả về 1 Series khác (Phần tử xuất hiện nhiều lần nhất)

51.166666666666664
41.5
0     37
1     39
2     41
3     42
4     48
5    100
dtype: int64

# Bài thực hành 2: Animals

In [6]:
# Khởi tạo dict animals
animals = {
    'dong_vat': ['Sao la', 'Khỉ đuôi ngắn', 'Voi châu Á'],
    'tuoi_tho': [25, 25, 70],
    'loai': ['có vú', 'linh trưởng', 'có vú'],
}

# Tạo DataFrame từ dict: animals
df_animals = pd.DataFrame(animals)
# df_animals.info()
# print(df_animals.dtypes)
# print(df_animals.shape)
# print(df_animals.describe)
# print(df_animals.head(2))
# print(df_animals.tail(2))

## Bài thực hành 3: Thao tác với file & Pandas

In [24]:
data = {
    'Name': ['John', 'Jane', 'Doe'],
    'Age': [30, 25, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

# Tạo df bằng dict
df = pd.DataFrame(data) 

# Viết file với lệnh df.to_csv()
df.to_csv('./output.csv', index=False) # index: không viết chỉ mục trong file

# Đọc file với lệnh: pd.read_csv()
df_read = pd.read_csv('./output.csv')
print(df_read)

   Name  Age         City
0  John   30     New York
1  Jane   25  Los Angeles
2   Doe   35      Chicago

# Lựa chọn hàng và cột

Để chọn hàng ta sử dụng: index slicing:

In [ ]:
df_animals[:2] # thao tác với df lấy ra số hàng mong muốn

        dong_vat  tuoi_tho         loai
0         Sao la        25        có vú
1  Khỉ đuôi ngắn        25  linh trưởng

Để chọn cột: sử dụng ngoặc vuông giống với dict. Khi chọn một cột => kết quả trả về là một pandas Series

In [ ]:
# df_animals['dong_vat']

# chọn nhiều cột thì ta sử dụng danh sách các tên cột VD:
df_animals[['dong_vat','tuoi_tho']]

        dong_vat  tuoi_tho
0         Sao la        25
1  Khỉ đuôi ngắn        25
2     Voi châu Á        70

Để thêm điều kiện khi lcọ, ta sử thêm toán tử logic như sau:

In [13]:
age_data = df_animals[['dong_vat','tuoi_tho']]
age_data[df_animals['tuoi_tho'] < 30]

        dong_vat  tuoi_tho
0         Sao la        25
1  Khỉ đuôi ngắn        25

Để thay đổi cột dược chọn làm index, sử dụng phương thức set_index

Để index trở lại thành số, sử dụng phương thức reset_index

In [48]:
# df_animals.set_index('dong_vat', inplace=True)

df_animals.reset_index()

        dong_vat  tuoi_tho         loai
0         Sao la        25        có vú
1  Khỉ đuôi ngắn        25  linh trưởng
2     Voi châu Á        70        có vú

Lọc dựa trên index: DF.iloc(rows, columns)
iloc: lọc hàng và cột dựa trên vị trí chỉ số trong bảng. Cách hoạt động index trong iloc giống như index slicing trong Python

In [28]:
df_animals.iloc[:2, 1:3]

                      loai
dong_vat
Sao la               có vú
Khỉ đuôi ngắn  linh trưởng

Lọc dựa trên nhãn:

In [50]:
# df_animals.loc[['Sao la', 'Khỉ đuôi ngắn'], 'tuoi_tho':'loai']
# df_animals.loc[df_animals.tuoi_tho > 50, 'tuoi_tho':'loai']
df_animals.loc[df_animals['tuoi_tho'] > 50, 'tuoi_tho':'loai']

            tuoi_tho   loai
dong_vat
Voi châu Á        70  có vú